<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8"
                           pattern="%d{M월 dd, yyyy a hh:mm:ss} %c.%M%n%-5level: %msg%n"/>
        </Console>
        <File name="File" fileName="logs/app.log">
            <PatternLayout charset="UTF-8"
                           pattern="%d{M월 dd, yyyy a hh:mm:ss} %c.%M%n%-5level: %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
